[Unit]
Description=StoryStation flask api Service
Requires=storystation-mongo.service
After=network.service storystation-mongo.service

[Service]
Type=simple
User=vagrant
Restart=always
WorkingDirectory=/home/vagrant/flask
ExecStartPre=/usr/bin/sh setup.sh
ExecStart=/usr/bin/sh run.sh